/* VARIABLES */

:root {
  --main-color-red: #F03A47; 
  --main-color-green: #4A6C6F; 
  --main-color-brown: #917C78; 
  --main-color-black: black; 
  --bg-color-grey: #F5F0F6; 
  --strokesize: 10px;
  --strokespacing: 10px;
}

/* GENERAL SETTINGS */

body {
  margin: 0;
  padding: 0;
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 0.1em;
  background-color: var(--bg-color-grey);
}

img {
  width: 100%;
}

h1 {
  margin: 0 0 20px 0;
  font-size: 47px;
  font-weight: 100;
  line-height: 40px;
}

h2 {
  text-align: right;
  font-size: 80px;
  font-weight: 100;
  margin: 0 .2em 50px 0;
}

h3 {
  font-size: 1em;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 1em;
  line-height: 40px;
  color: black;
  transition: font-size .2s;
}

a:hover {
  font-size: 2em;
}

a:hover .link__lines:nth-child(1) {
  animation: menu 1s forwards .6s;
}

a:hover .link__lines:nth-child(2) {
  animation: menu 1s forwards .4s;
}

a:hover .link__lines:nth-child(3) {
  animation: menu 1s forwards .2s;
}

.link__lines {
  display: none;
  padding-right: var(--strokespacing);
  opacity: 0;
}

.link__lines:nth-child(1) {
  border-left: var(--strokesize) solid var(--main-color-green);
}

.link__lines:nth-child(2) {
  border-left: var(--strokesize) solid var(--main-color-black);
}

.link__lines:nth-child(3) {
  border-left: var(--strokesize) solid var(--main-color-red);
}

.link__arrow {
  display: inline;
}

.link__arrow img {
  width: 10px;
}

/* NAVIGATION */

.burger__open {
  position: fixed;
  left: 1em;
  /* top: 1em; */
  padding: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--main-color-red);
  z-index: 3;
  opacity: 1;
  transition: 0.15s;
}

.burger__content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  transform: scale(0);
  transform-origin: top left;
  transition: transform 0.3s;
}

.burger__links {
  color: white;
}

#burger__backdrop {
  opacity: 0.5;
  background-color: black;
  content: '';
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -10;
}

#burger__list {
  background-color: var(--main-color-red);
  color: white;
  border-radius: 0 0 100%;
  padding: 1em 11em 4em 1em;
  z-index: 54;
  margin-top: 0;
  font-size: 30px;
  line-height: 60px;
  transform-origin: top left;
}

#burger__close {
  width: 40px;
  height: 40px;
  margin-bottom: 40px;
  transform: rotate(90deg);
}

nav {
  display: none;
  position: absolute;
  right: 30px;
  top: 30px;
  text-align: right;
}

.is-display {
  transform: scale(1);
  position: fixed;
  top: 0;
}

/* MAIN */

.logo {
  display: grid;
  grid-template-columns: 1fr 1fr calc((var(--strokesize) * 3) + (var(--strokespacing) * 2));
  grid-template-rows: 4em 12em calc((var(--strokesize) * 3) + (var(--strokespacing) * 3)) 1fr 60px;
  margin: 1em 1em 60px 1em;
  height: 100vh;
}

.logo__title {
  grid-column-start: 2;
  grid-row-start: 4;
  margin-left: var(--strokespacing);
  white-space: nowrap;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  align-content: center;
}

.logo__title h2 {
  margin-bottom: 0;
  font-weight: 100;
  font-size: 1.2em;
  text-align: left;
}

.logo__abbriviation {
  grid-column-start: 2;
  grid-row-start: 2;
  text-align: right;
  font-size: 10em;
  font-weight: 100;
}

.logo__vertical {
  grid-column-start: 3;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.logo__vertical--green {
  grid-row: 1 / 4;
  margin-bottom: var(--strokespacing);
  padding-right: var(--strokespacing);
  border-left: var(--strokesize) solid var(--main-color-green);
}

.logo__vertical--black {
  grid-row: 2 / 4;
  margin-bottom: var(--strokespacing);
  padding-right: var(--strokespacing);
  border-left: var(--strokesize) solid var(--main-color-black);
}

.logo__vertical--red {
  grid-row-start: 3;
  margin-bottom: var(--strokespacing);
  border-left: var(--strokesize) solid var(--main-color-red);
  transform: scaleY(0);
  transform-origin: bottom;
  animation: loadline 1s forwards 1s;
}

.logo__vertical--red-long {
  grid-row: 4 / 6;
  grid-column-start: 3;
  border-right: var(--strokesize) solid var(--main-color-red);
  transform: scaleY(0);
  transform-origin: bottom;
  animation: loadline 1s forwards;
}

.logo__horizontal {
  grid-row-start: 3;
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.logo__horizontal--black {
  grid-column: 1 / 4;
  grid-row-start: 1;
  padding-bottom: var(--strokespacing);
  border-top: var(--strokesize) solid var(--main-color-black);
}

.logo__horizontal--brown {
  grid-column: 2 / 4;
  grid-row-start: 2;
  padding-bottom: var(--strokespacing);
  border-top: var(--strokesize) solid var(--main-color-brown);
}

.logo__horizontal--green {
  grid-column-start: 3;
  grid-row-start: 3;
  padding-bottom: var(--strokespacing);
  border-top: var(--strokesize) solid var(--main-color-green);
}

/* ABOUT */

.cv {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 1em 130px 1em;
}

.cv__entry {
  display: grid;
  grid-template-rows: 25px 90px repeat( 3, calc( (var(--strokespacing)) + (var(--strokesize)) ) ) 1fr;
  padding-left: var(--strokespacing);
  padding-top: 70px;
  text-align: left;
  border-left: var(--strokesize) solid var(--main-color-black);
}

.cv__entry:nth-child(1) {
  padding-top: 0;
}

.cv__entry:nth-child(even) {
  padding-left: var(--strokespacing);
}

.cv__entry:nth-child(1) {
  grid-row: 1 / 4;
}

.cv__entry:nth-child(2) {
  grid-row: 4 / 7;
}

.cv__entry:nth-child(3) {
  grid-row: 8 / 11;
}

.cv__entry:nth-child(4) {
  grid-row: 12 / 15;
}

.cv__entry:nth-child(5) {
  grid-row: 16 / 19;
}

.cv__entry .cv__entry--line-brown {
  margin-left: -20px;
  border-top: var(--strokesize) solid var(--main-color-brown);
  background-color: var(--bg-color-grey);
  transform: scaleX(0);
  transform-origin: left;
  z-index: 2;
}

.cv__entry .cv__entry--line-green {
  margin-left: -20px;
  border-top: var(--strokesize) solid var(--main-color-green);
  background-color: var(--bg-color-grey);
  transform: scaleX(0);
  transform-origin: left;
  z-index: 2;
}

.cv__entry .cv__entry--line-red {
  margin-left: -20px;
  border-top: var(--strokesize) solid var(--main-color-red);
  transform: scaleX(0);
  transform-origin: left;
  z-index: 2;
}

.cv__entry--bullets {
  list-style-position: outside;
  list-style-type: disc;
}

.cv__entry:nth-child(odd) .cv__entry--bullets {
  padding-left: 20px;
}

.cv__entry:nth-child(even) .cv__entry--bullets {
  padding-left: 20px;
}

.cv__entry--helperline-one {
  display: none;
  grid-row: 4 / 7;
  border-right: var(--strokesize) solid var(--main-color-black);
}

.cv__entry--helperline-two {
  display: none;
  grid-row: 12 / 16;
  border-right: var(--strokesize) solid var(--main-color-black);
}

/* PROJECTS */

.project {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px;
  margin: 0 1em 130px 1em;
}

.project__name {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.project__name h3 {
  font-size: 2em;
  font-weight: 100;
  margin: 0;
}

.project__name p {
  margin: 0;
}

#project__lines {
  grid-row-start: 1;
}

.project__lines--vertical {
  display: flex;
  margin-bottom: var(--strokespacing);
  height: 170px;
}

.project__lines--vertical-brown {
  padding-right: var(--strokespacing);
  border-left: var(--strokesize) solid var(--main-color-brown);
}

.project__lines--vertical-black {
  padding-right: var(--strokespacing);
  border-left: var(--strokesize) solid var(--main-color-black);
  transform: scaleY(0.7);
  transform-origin: bottom;
}

.project__lines--vertical-green {
  padding-right: var(--strokespacing);
  border-left: var(--strokesize) solid var(--main-color-green);
  transform: scaleY(0.4);
  transform-origin: bottom;
}

.project__lines--horizontal-red {
  padding-bottom: var(--strokespacing);
  border-top: var(--strokesize) solid var(--main-color-red);
  transform: scaleX(0);
  transform-origin: left;
}

.project__lines--horizontal-black {
  grid-row-start: 2;
  border-top: var(--strokesize) solid var(--main-color-black);
}

.project__text {
  grid-column-start: 1;
  grid-row-start: 3;
  margin: var(--strokespacing) 0 0 0;
  padding-left: var(--strokespacing);
  border-left: var(--strokesize) solid var(--main-color-brown);
}

.project__images {
  border-left: var(--strokesize) solid var(--main-color-brown);
}

.project__image {
  /* border: var(--strokesize) solid var(--main-color-green); */
  margin-left: var(--strokespacing);
  margin-top: 30px;
}

.project__box {
  display: none;
  position: relative;
  grid-column-start: 2;
  grid-row-start: 3;
  margin-top: var(--strokespacing);
  margin-left: 20px;
  width: 35vw;
  height: 35vw;
  overflow: hidden;
  border: var(--strokesize) solid var(--main-color-green);
}

.project__box img {
  height: 100%;
  object-fit: contain;
}

.project__box--right, .project__box--left, .project__box--top, .project__box--bottom, .project__box--center {
  position: absolute;
  width: inherit;
  height: inherit;
  text-align: center;
  line-height: inherit;
  transition: transform .4s ease;
}
.project__box--right:before, .project__box--left:before, .project__box--top:before, .project__box--bottom:before, .project__box--center:before {
  position: absolute;
  content: '';
  width: 70.71%;
  height: 70.71%;
  transform: rotate(45deg);
}
.project__box--right:hover, .project__box--left:hover, .project__box--top:hover, .project__box--bottom:hover, .project__box--center:hover {
  transform: translateX(0);
  z-index: 1;
}
.project__box--right:hover:before, .project__box--left:hover:before, .project__box--top:hover:before, .project__box--bottom:hover:before, .project__box--center:hover:before {
  width: 100%;
  height: 100%;
  transform: none;
}

.project__box--right {
  transform: translateX(100%);
}
.project__box--right:before {
  right: 100%;
  bottom: 0;
  transform-origin: 100% 100%;
}
.project__box--right:hover ~ .project__box--center {
  transform: translateX(-100%);
}

.project__box--left {
  transform: translateX(-100%);
}
.project__box--left:before {
  left: 100%;
  transform-origin: 0 0;
}
.project__box--left:hover ~ .project__box--center {
  transform: translateX(100%);
}

.project__box--top {
  transform: translateY(-100%);
}
.project__box--top:before {
  top: 100%;
  right: 0;
  transform-origin: 100% 0;
}
.project__box--top:hover ~ .project__box--center {
  transform: translateY(100%);
}

.project__box--bottom {
  transform: translateY(100%);
}
.project__box--bottom:before {
  bottom: 100%;
  left: 0;
  transform-origin: 0 100%;

}
.project__box--bottom:hover ~ .project__box--center {
  transform: translateY(-100%);
}

.project__box--center {
  position: relative;
  z-index: -1;
}

.project__box--center span {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.project__box--center h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 100;
  font-size: 40px;
}

.project__box--center-arrow-top {
  position: absolute; 
  top: 10px;
  left: 50%;
  width: 1.5vw;
  transform: translateX(-50%) rotate(-90deg);
}

.project__box--center-arrow-right {
  position: absolute; 
  right: 10px;
  top: 50%;
  width: 1.5vw;
  transform: translateY(-50%);
}

.project__box--center-arrow-bottom {
  position: absolute; 
  bottom: 10px;
  left: 50%;
  width: 1.5vw;
  transform: translateX(-50%) rotate(90deg);
}

.project__box--center-arrow-left {
  position: absolute; 
  left: 10px;
  top: 50%;
  width: 1.5vw;
  transform: translateY(-50%) rotate(180deg);
}

/* CONTACT */

#contact {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.contact__lines {
  display: flex;
  align-items: flex-end;
}

.contact__line {
  padding-left: var(--strokespacing);
  transform: scaleY(0);
  transform-origin: bottom;
}

.contact__line:nth-child(1) {
  height: 280px;
  border-right: var(--strokesize) solid var(--main-color-black);
}

.contact__line:nth-child(2) {
  height: 260px;
  border-right: var(--strokesize) solid var(--main-color-brown);
}

.contact__line:nth-child(3) {
  height: 140px;
  border-right: var(--strokesize) solid var(--main-color-green);
}

.contact__line:nth-child(4) {
  height: 180px;
  border-right: var(--strokesize) solid var(--main-color-black);
}

.contact__line:nth-child(5) {
  height: 200px;
  border-right: var(--strokesize) solid var(--main-color-red);
}

.contact__line:nth-child(6) {
  height: 170px;
  border-right: var(--strokesize) solid var(--main-color-green);
}

.contact__line:nth-child(7) {
  height: 150px;
  border-right: var(--strokesize) solid var(--main-color-brown);
}

.contact__line:nth-child(8) {
  display: none;
  height: 130px;
  border-right: var(--strokesize) solid var(--main-color-black);
}

.contact__line:nth-child(9) {
  display: none;
  height: 120px;
  border-right: var(--strokesize) solid var(--main-color-black);
}

.contact__line:nth-child(10) {
  display: none;
  height: 80px;
  border-right: var(--strokesize) solid var(--main-color-red);
}

.contact__line:nth-child(11) {
  display: none;
  height: 50px;
  border-right: var(--strokesize) solid var(--main-color-green);
}

.contact__line:nth-child(12) {
  display: none;
  height: 60px;
  border-right: var(--strokesize) solid var(--main-color-brown);
}

.contact__line:nth-child(13) {
  height: 100px;
  border-right: var(--strokesize) solid var(--main-color-black);
}

.contact__line:nth-child(14) {
  height: 90px;
  border-right: var(--strokesize) solid var(--main-color-green);
}

.contact__line:nth-child(15) {
  height: 70px;
  border-right: var(--strokesize) solid var(--main-color-black);
}

.contact__line:nth-child(16) {
  height: 40px;
  border-right: var(--strokesize) solid var(--main-color-brown);
}

.contact__line:nth-child(17) {
  height: 30px;
  border-right: var(--strokesize) solid var(--main-color-red);
}

.contact__images {
  display: flex; 
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px 0 0 0;
}

.contact__image {
  display: flex;
  align-items: center;
  margin: 0 10px;
  transform: scale(1) translateY(0px);
  transition: transform .2s;
}

.contact__image:hover {
  transform: scale(1.5) translateY(-10px);
}

.contact__image a {
  line-height: 30px;
}

.contact__image img {
  width: 10vw;
  padding: 3vw;
}

/* KEYFRAMES */

@keyframes menu {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loadline {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes brownline {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes greenline {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(0.5);
  }
}

@keyframes redline {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(0.2);
  }
}

@keyframes projectline {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(0.9);
  }
}

@keyframes menuIn {
  from {
    transform: scale(0);
  } to {
    transform: scale(1);
  }
}

@keyframes menuOut {

}


/* MEDIA QUERIES */

@media (min-width: 801px) {

  body {
    font-size: 16px;
  }

  h1 {
    font-size: 55px;
  }

  h2 {
    font-size: 150px;
  }

  h3 {
    font-size: 1.17em;
  }

  a {
    font-size: 1.5em;
    line-height: 50px;
  }

  .link__lines {
    display: inline;
  }

  .link__arrow {
    display: none;
  }

  #burger {
    display: none;
  }

  nav {
    display: block;
  }

  .logo {
    grid-template-columns: 6em 12em calc((var(--strokesize) * 3) + (var(--strokespacing) * 2)) 1fr;
  }

  .logo__title {
    grid-column-start: 4;
    display: block; 
  }

  .logo__title h2 {
    font-size: 1.5em;
  }

  .cv {
    grid-template-columns: 1fr 1fr;
    margin: 0 3em 130px 3em;
  }

  .cv__entry {
    padding-top: 0;
  }

  .cv__entry:nth-child(odd) {
    padding-right: var(--strokespacing);
    padding-left: 0;
    text-align: right;
    border-right: var(--strokesize) solid var(--main-color-black);
    border-left: none;
  }

  .cv__entry:nth-child(even) {
    border-left: none;
  }

  .cv__entry:nth-child(2),
  .cv__entry:nth-child(4) {
    grid-column-start: 2;
  }

  .cv__entry:nth-child(odd) .cv__entry--line-brown {
    margin-right: -20px;
    transform-origin: right;
  }

  .cv__entry:nth-child(odd) .cv__entry--line-green {
    margin-right: -20px;
    transform-origin: right;
  }

  .cv__entry:nth-child(odd) .cv__entry--line-red {
    margin-right: -20px;
    transform-origin: right;
  }

  .cv__entry:nth-child(odd) .cv__entry--bullets {
    padding-right: 20px;
    direction: rtl;
  }

  .cv__entry--helperline-one,
  .cv__entry--helperline-two {
    display: block;
  }

  .project {
    grid-template-columns: 25vw 1fr;
    margin: 0 5vw 130px 5vw;
  }
  
  .project__name {
    display: none;
  }

  #project__lines {
    grid-column-start: 2;
  }

  .project__lines--horizontal-black {
    grid-column: 1 / 3;
  }

  .project__text {
    text-align: right;
    margin: var(--strokespacing) -10px 0 0;
    padding-top: 1em;
    padding-left: 0;
    padding-right: var(--strokespacing);
    border-right: var(--strokesize) solid var(--main-color-brown);
    border-left: none;
  }

  .project__images {
    display: none;
  }

  .project__box {
    display: block;
  }

  .contact__line:nth-child(8),
  .contact__line:nth-child(9),
  .contact__line:nth-child(10),
  .contact__line:nth-child(11),
  .contact__line:nth-child(12) {
    display: block;
  }

  .contact__images {
    flex-direction: row;
    margin-right: 1em;
    margin-bottom: 1em;
  }

  .contact__image img {
    padding: 0 1vw;
    width: 4vw;
  }

  @keyframes projectline {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(0.7);
    }
  }
}

