/* VARIABLES */

:root {
  --main-color-red: #F03A47; 
  --main-color-green: #4A6C6F; 
  --main-color-brown: #917C78; 
  --main-color-black: black; 
  --bg-color-grey: #F5F0F6; 
  --strokesize: 10px;
  --strokespacing: 10px;
}

/* GENERAL SETTINGS */

body {
  margin: 0;
  padding: 0;
  font-family: 'Overpass', sans-serif;
  font-weight: 100;
  letter-spacing: 0.1em;
  background-color: var(--bg-color-grey);
}

img {
  width: 100%;
}

h1 {
  margin: 0 0 20px 0;
  font-size: 55px;
  font-weight: 100;
  line-height: 40px;
}

h2 {
  text-align: right;
  font-size: 150px;
  font-weight: 100;
  margin: 0 .2em 0 0;
}

h3 {
  font-weight: 400;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 1.5em;
  line-height: 50px;
  color: black;
  transition: font-size .2s;
}

a:hover,
a:active {
  font-size: 2em;
}

a:hover .link__lines:nth-child(1),
a:active .link__lines:nth-child(1) {
  animation: menu 1s forwards .6s;
}

a:hover .link__lines:nth-child(2),
a:active .link__lines:nth-child(2)  {
  animation: menu 1s forwards .4s;
}

a:hover .link__lines:nth-child(3),
a:active .link__lines:nth-child(3) {
  animation: menu 1s forwards .2s;
}

.link__lines {
  padding-right: var(--strokespacing);
  opacity: 0;
}

.link__lines:nth-child(1) {
  border-left: var(--strokesize) solid var(--main-color-green);
}

.link__lines:nth-child(2) {
  border-left: var(--strokesize) solid var(--main-color-black);
}

.link__lines:nth-child(3) {
  border-left: var(--strokesize) solid var(--main-color-red);
}

/* NAVIGATION */

nav {
  position: absolute;
  right: 30px;
  top: 30px;
  text-align: right;
}

/* MAIN */

.logo {
  display: grid;
  grid-template-columns: 6em 12em calc((var(--strokesize) * 3) + (var(--strokespacing) * 2)) 1fr;
  grid-template-rows: 4em 12em calc((var(--strokesize) * 3) + (var(--strokespacing) * 3)) 1fr 60px;
  margin: 1em;
  height: 100vh;
}

.logo__title {
  grid-column-start: 4;
  grid-row-start: 4;
  margin-left: var(--strokespacing);
}

.logo__title h2 {
  display: inline;
  font-weight: 100;
  font-size: 1.5em;
  text-align: left;
}

.logo__abbriviation {
  grid-column-start: 2;
  grid-row-start: 2;
  text-align: right;
  font-size: 10em;
  font-weight: 100;
}

.logo__vertical {
  grid-column-start: 3;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.logo__vertical--green {
  grid-row: 1 / 4;
  margin-bottom: var(--strokespacing);
  padding-right: var(--strokespacing);
  border-left: var(--strokesize) solid var(--main-color-green);
}

.logo__vertical--black {
  grid-row: 2 / 4;
  margin-bottom: var(--strokespacing);
  padding-right: var(--strokespacing);
  border-left: var(--strokesize) solid var(--main-color-black);
}

.logo__vertical--red {
  grid-row-start: 3;
  margin-bottom: var(--strokespacing);
  border-left: var(--strokesize) solid var(--main-color-red);
  transform: scaleY(0);
  transform-origin: bottom;
  animation: loadline 1s forwards 1s;
}

.logo__vertical--red-long {
  grid-row: 4 / 6;
  grid-column-start: 3;
  border-right: var(--strokesize) solid var(--main-color-red);
  transform: scaleY(0);
  transform-origin: bottom;
  animation: loadline 1s forwards;
}

.logo__horizontal {
  grid-row-start: 3;
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.logo__horizontal--black {
  grid-column: 1 / 4;
  grid-row-start: 1;
  padding-bottom: var(--strokespacing);
  border-top: var(--strokesize) solid var(--main-color-black);
}

.logo__horizontal--brown {
  grid-column: 2 / 4;
  grid-row-start: 2;
  padding-bottom: var(--strokespacing);
  border-top: var(--strokesize) solid var(--main-color-brown);
}

.logo__horizontal--green {
  grid-column-start: 3;
  grid-row-start: 3;
  padding-bottom: var(--strokespacing);
  border-top: var(--strokesize) solid var(--main-color-green);
}

/* ABOUT */

.cv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 3em 130px 3em;
}

.cv__entry {
  display: grid;
  grid-template-rows: 25px 80px repeat( 3, calc( (var(--strokespacing)) + (var(--strokesize)) ) ) 1fr;
}

.cv__entry:nth-child(odd) {
  padding-right: var(--strokespacing);
  text-align: right;
  border-right: var(--strokesize) solid var(--main-color-black);
}

.cv__entry:nth-child(even) {
  padding-left: var(--strokespacing);
}

.cv__entry:nth-child(1) {
  grid-row: 1 / 4;
}

.cv__entry:nth-child(2) {
  grid-column-start: 2;
  grid-row: 4 / 7;
}

.cv__entry:nth-child(3) {
  grid-row: 8 / 11;
}

.cv__entry:nth-child(4) {
  grid-column-start: 2;
  grid-row: 12 / 15;
}

.cv__entry:nth-child(5) {
  grid-row: 16 / 19;
}

.cv__entry:nth-child(odd) .cv__entry--line-brown {
  margin-right: -20px;
  border-top: var(--strokesize) solid var(--main-color-brown);
  background-color: var(--bg-color-grey);
  transform: scaleX(0);
  transform-origin: right;
}

.cv__entry:nth-child(odd) .cv__entry--line-green {
  margin-right: -20px;
  border-top: var(--strokesize) solid var(--main-color-green);
  background-color: var(--bg-color-grey);
  transform: scaleX(0);
  transform-origin: right;
}

.cv__entry:nth-child(odd) .cv__entry--line-red {
  margin-right: -20px;
  border-top: var(--strokesize) solid var(--main-color-red);
  transform: scaleX(0);
  transform-origin: right;
}

.cv__entry:nth-child(even) .cv__entry--line-brown {
  margin-left: -20px;
  border-top: var(--strokesize) solid var(--main-color-brown);
  background-color: var(--bg-color-grey);
  transform: scaleX(0);
  transform-origin: left;
  z-index: 2;
}

.cv__entry:nth-child(even) .cv__entry--line-green {
  margin-left: -20px;
  border-top: var(--strokesize) solid var(--main-color-green);
  background-color: var(--bg-color-grey);
  transform: scaleX(0);
  transform-origin: left;
  z-index: 2;
}

.cv__entry:nth-child(even) .cv__entry--line-red {
  margin-left: -20px;
  border-top: var(--strokesize) solid var(--main-color-red);
  transform: scaleX(0);
  transform-origin: left;
  z-index: 2;
}

.cv__entry--bullets {
  list-style-position: outside;
  list-style-type: disc;
}

.cv__entry:nth-child(odd) .cv__entry--bullets {
  padding-right: 20px;
  direction: rtl;
}

.cv__entry:nth-child(even) .cv__entry--bullets {
  padding-left: 20px;
}

.cv__entry--helperline-one {
  grid-row: 4 / 7;
  border-right: var(--strokesize) solid var(--main-color-black);
}

.cv__entry--helperline-two {
  grid-row: 12 / 16;
  border-right: var(--strokesize) solid var(--main-color-black);
}

/* PROJECTS */

.project {
  display: grid;
  grid-template-columns: 25vw 1fr;
  grid-template-rows: 200px;
  margin: 0 5vw 130px 5vw;
}
/* 
.project__name {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  padding-right: var(--strokespacing);
  direction: rtl;
}

.project__name h3 {
  font-weight: 100;
  font-size: 40px;
  margin-bottom: 0;
}

.project__name p {
  margin: 0 0 10px 0;
} */

#project__lines {
  grid-column-start: 2;
  grid-row-start: 1;
}

.project__lines--vertical {
  display: flex;
  margin-bottom: var(--strokespacing);
  height: 170px;
}

.project__lines--vertical div {
  display: inline;
}

.project__lines--vertical-brown {
  padding-right: var(--strokespacing);
  border-left: var(--strokesize) solid var(--main-color-brown);
}

.project__lines--vertical-black {
  padding-right: var(--strokespacing);
  border-left: var(--strokesize) solid var(--main-color-black);
  transform: scaleY(0.7);
  transform-origin: bottom;
}

.project__lines--vertical-green {
  padding-right: var(--strokespacing);
  border-left: var(--strokesize) solid var(--main-color-green);
  transform: scaleY(0.4);
  transform-origin: bottom;
}

.project__lines--horizontal-red {
  padding-bottom: var(--strokespacing);
  border-top: var(--strokesize) solid var(--main-color-red);
  transform: scaleX(0);
  transform-origin: left;
}

.project__lines--horizontal-black {
  grid-row-start: 2;
  grid-column: 1 / 3;
  border-top: var(--strokesize) solid var(--main-color-black);
}

.project__text {
  grid-column-start: 1;
  grid-row-start: 3;
  text-align: right;
  margin: var(--strokespacing) -10px 0 0;
  padding-top: 1em;
  padding-right: var(--strokespacing);
  border-right: var(--strokesize) solid var(--main-color-brown);
}

.project__box {
  position: relative;
  grid-column-start: 2;
  grid-row-start: 3;
  margin-top: var(--strokespacing);
  margin-left: 20px;
  width: 35vw;
  height: 35vw;
  overflow: hidden;
  border: var(--strokesize) solid var(--main-color-green);
}

.project__box img {
  height: 100%;
  object-fit: contain;
}

.project__box--right, .project__box--left, .project__box--top, .project__box--bottom, .project__box--center {
  position: absolute;
  width: inherit;
  height: inherit;
  text-align: center;
  line-height: inherit;
  transition: transform .4s ease;
}
.project__box--right:before, .project__box--left:before, .project__box--top:before, .project__box--bottom:before, .project__box--center:before {
  position: absolute;
  content: '';
  width: 70.71%;
  height: 70.71%;
  transform: rotate(45deg);
}
.project__box--right:hover, .project__box--left:hover, .project__box--top:hover, .project__box--bottom:hover, .project__box--center:hover {
  transform: translateX(0);
  z-index: 1;
}
.project__box--right:hover:before, .project__box--left:hover:before, .project__box--top:hover:before, .project__box--bottom:hover:before, .project__box--center:hover:before {
  width: 100%;
  height: 100%;
  transform: none;
}

.project__box--right {
  transform: translateX(100%);
}
.project__box--right:before {
  right: 100%;
  bottom: 0;
  transform-origin: 100% 100%;
}
.project__box--right:hover ~ .project__box--center {
  transform: translateX(-100%);
}

.project__box--left {
  transform: translateX(-100%);
}
.project__box--left:before {
  left: 100%;
  transform-origin: 0 0;
}
.project__box--left:hover ~ .project__box--center {
  transform: translateX(100%);
}

.project__box--top {
  transform: translateY(-100%);
}
.project__box--top:before {
  top: 100%;
  right: 0;
  transform-origin: 100% 0;
}
.project__box--top:hover ~ .project__box--center {
  transform: translateY(100%);
}

.project__box--bottom {
  transform: translateY(100%);
}
.project__box--bottom:before {
  bottom: 100%;
  left: 0;
  transform-origin: 0 100%;

}
.project__box--bottom:hover ~ .project__box--center {
  transform: translateY(-100%);
}

.project__box--center {
  position: relative;
  z-index: -1;
}

.project__box--center span {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.project__box--center h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 100;
  font-size: 40px;
}

.project__box--center-arrow-top {
  position: absolute; 
  top: 10px;
  left: 50%;
  width: 1.5vw;
  transform: translateX(-50%) rotate(-90deg);
}

.project__box--center-arrow-right {
  position: absolute; 
  right: 10px;
  top: 50%;
  width: 1.5vw;
  transform: translateY(-50%);
}

.project__box--center-arrow-bottom {
  position: absolute; 
  bottom: 10px;
  left: 50%;
  width: 1.5vw;
  transform: translateX(-50%) rotate(90deg);
}

.project__box--center-arrow-left {
  position: absolute; 
  left: 10px;
  top: 50%;
  width: 1.5vw;
  transform: translateY(-50%) rotate(180deg);
}

/* CONTACT */

#contact {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.contact__lines {
  display: flex;
  align-items: flex-end;
}

.contact__line {
  padding-left: var(--strokespacing);
  transform: scaleY(0);
  transform-origin: bottom;
}

.contact__line:nth-child(1) {
  height: 280px;
  border-right: var(--strokesize) solid var(--main-color-black);
}

.contact__line:nth-child(2) {
  height: 260px;
  border-right: var(--strokesize) solid var(--main-color-brown);
}

.contact__line:nth-child(3) {
  height: 140px;
  border-right: var(--strokesize) solid var(--main-color-green);
}

.contact__line:nth-child(4) {
  height: 180px;
  border-right: var(--strokesize) solid var(--main-color-black);
}

.contact__line:nth-child(5) {
  height: 200px;
  border-right: var(--strokesize) solid var(--main-color-red);
}

.contact__line:nth-child(6) {
  height: 170px;
  border-right: var(--strokesize) solid var(--main-color-green);
}

.contact__line:nth-child(7) {
  height: 150px;
  border-right: var(--strokesize) solid var(--main-color-brown);
}

.contact__line:nth-child(8) {
  height: 130px;
  border-right: var(--strokesize) solid var(--main-color-black);
}

.contact__line:nth-child(9) {
  height: 120px;
  border-right: var(--strokesize) solid var(--main-color-black);
}

.contact__line:nth-child(10) {
  height: 80px;
  border-right: var(--strokesize) solid var(--main-color-red);
}

.contact__line:nth-child(11) {
  height: 50px;
  border-right: var(--strokesize) solid var(--main-color-green);
}

.contact__line:nth-child(12) {
  height: 60px;
  border-right: var(--strokesize) solid var(--main-color-brown);
}

.contact__line:nth-child(13) {
  height: 100px;
  border-right: var(--strokesize) solid var(--main-color-black);
}

.contact__line:nth-child(14) {
  height: 90px;
  border-right: var(--strokesize) solid var(--main-color-green);
}

.contact__line:nth-child(15) {
  height: 70px;
  border-right: var(--strokesize) solid var(--main-color-black);
}

.contact__line:nth-child(16) {
  height: 40px;
  border-right: var(--strokesize) solid var(--main-color-brown);
}

.contact__line:nth-child(17) {
  height: 30px;
  border-right: var(--strokesize) solid var(--main-color-red);
}

.contact__images {
  display: flex; 
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  width: 30vw;
}

.contact__image {
  display: flex;
  align-items: center;
  margin: 0 10px;
  height: 50px;
  transform: scale(1) translateY(0px);
  transition: transform .2s;
}

.contact__image:hover {
  transform: scale(1.5) translateY(-10px);
}

.contact__image img {
  height: 40px;
}

/* KEYFRAMES */

@keyframes menu {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loadline {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes brownline {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes greenline {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(0.5);
  }
}

@keyframes redline {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(0.2);
  }
}

@keyframes projectline {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(0.7);
  }
}



